# COVID-19 Global Forecasting

This notebook will focus on forecasting the number of new cases and deaths caused by the COVID-19 virus during the month of April 2020.

The link to the competition description and data sources is the following:
https://www.kaggle.com/c/covid19-global-forecasting-week-3/data

## Data

In [1]:
# Importing necessary packages
import pandas as pd
import numpy as np
import matplotlib.style as style
import matplotlib.pyplot as plt
import seaborn as sns
import string
import matplotlib.ticker as ticker
import re
from collections import Counter
style.use('fivethirtyeight')
palette = "ch:-.2,2.5,dark=.3_r"

# Interactive shell settings
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
# Reading provided data
train = pd.read_csv('/Users/miketondu/Dropbox/Data Science/KAGGLE/COVID-19/covid19-global-forecasting-week-3/train.csv', 
                   date_parser='Date')
test = pd.read_csv('/Users/miketondu/Dropbox/Data Science/KAGGLE/COVID-19/covid19-global-forecasting-week-3/test.csv',
                   date_parser='Date')
submission = pd.read_csv('/Users/miketondu/Dropbox/Data Science/KAGGLE/COVID-19/covid19-global-forecasting-week-3/submission.csv')

In [11]:
# Initial exploration of data
train.head()
test.head()
submission.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

   ForecastId Province_State Country_Region        Date
0           1            NaN    Afghanistan  2020-03-26
1           2            NaN    Afghanistan  2020-03-27
2           3            NaN    Afghanistan  2020-03-28
3           4            NaN    Afghanistan  2020-03-29
4           5            NaN    Afghanistan  2020-03-30

   ForecastId  ConfirmedCases  Fatalities
0           1               1           1
1           2               1           1
2           3               1           1
3           4               1           1
4           5               1           1

In [16]:
# Train data description
train.describe()
train.info()
train.Country_Region.nunique()

                 Id  ConfirmedCases    Fatalities
count  23256.000000    23256.000000  23256.000000
mean   16356.000000      750.543946     34.440746
std     9451.979462     6008.725072    438.508692
min        1.000000        0.000000      0.000000
25%     8170.750000        0.000000      0.000000
50%    16356.000000        0.000000      0.000000
75%    24541.250000       67.000000      0.000000
max    32711.000000   136675.000000  16523.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23256 entries, 0 to 23255
Data columns (total 6 columns):
Id                23256 non-null int64
Province_State    9880 non-null object
Country_Region    23256 non-null object
Date              23256 non-null object
ConfirmedCases    23256 non-null float64
Fatalities        23256 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.1+ MB

180